.spring{
    background-image: url(../../assets/Img/spring1.jpg);
    width: auto;
    height: auto;
    object-fit: cover;
}
.summer{
    background-image: url(../../assets/Img/summer.jpg);
    width: auto;
    height: auto;
    object-fit: cover;
}
.autumn{
    background-image: url(../../assets/Img/autumn.jpg);
    width: auto;
    height: auto;
    object-fit: cover;
}
.winter{
    background-image: url(../../assets/Img/winter.jpg);
    width: auto;
    height: auto;
    object-fit: cover;
}
