.content_login {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgb(75, 75, 250), rgb(235, 140, 235));
    height: 100vh;
    overflow: hidden;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    height: 350px;
}
.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.center .js-login {
    padding: 0 40px;
    box-sizing: border-box;
}
.center .js-login .form-user {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.center .js-login .form-user .js-username {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.center .js-login .form-pass {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.center .js-login .form-pass .js-password {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: none;
    background: none;
    outline: none;
}
.center .js-login .form-user  label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.center .js-login .form-pass  label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.center .js-login .form-user span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgb(27, 253, 253);
    transition: .5s;
}
.center .js-login .form-user .js-username:focus ~ label,
.center .js-login .form-user .js-username:valid ~ label {
    top: -5px;
    color: rgb(6, 82, 82);
}
.center .js-login .form-pass span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgb(27, 253, 253);
    transition: .5s;
}
.center .js-login .form-pass .js-password:focus ~ label,
.center .js-login .form-pass .js-password:valid ~ label {
    top: -5px;
    color: rgb(6, 82, 82);
}
.center .js-login .form-user .js-username:focus ~ span::before,
.center .js-login .form-user .js-username:valid ~ span::before {
    width: 100%;
}
.center .js-login .form-pass .js-password:focus ~ span::before,
.center .js-login .form-pass .js-password:valid ~ span::before {
    width: 100%;
}
.pass {
    margin: -5px 0 20px 5px;
    color: #adadad;
    cursor: pointer;
}
.pass:hover {
    text-decoration: underline;
    color: rgb(6, 82, 82);
}
.Login {
    width: 100%;
    height: 30px;
    border: none;
    background: rgb(112, 193, 219);
    border-radius: 5px;
    font-size: 18px;
    color: antiquewhite;
    font-weight: 1000;
    cursor: pointer;
    outline: none;
}
.Login:hover {
    border: 1px solid ;
    transition: .5s;
}
