@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
  --primary-color:#0E48F1;
  --panel-color:#fff;
  --text-color:#000;
  --black-light-color:#707070;
  --border-color:#e6e5e5;
  --toggle-color:#ddd;
  --box1-color:#4da3ff;
  --box2-color:#ffe6ac;
  --box3-color:#e7d1fc;
  --title-icon-color:#fff;

  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-02: all 0.2s ease;
}
body{
  min-height:100vh;
  
}
.nav{
  position: fixed;
  top:0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 2px solid var(--border-color);
}
.nav .logo-name{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .logo-image{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 45px;

}
.nav .logo-image img{
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
}
.nav .menu-items{
  margin-top: 10px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-items li{
  list-style: none;
}
.menu-items li a{
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  position: relative;
}
.nav-links li a:hover:before{
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.menu-items li a i{
  min-width: 45px;
  height: 100%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: var(--black-light-color);
}
.menu-items li a link-name{
  color: var(--black-light-color);
  font-size: 18px;
  font-weight: 400;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
  color: var(--primary-color);
}
.menu-items .logout-mode{
  padding-top: 10px;
  border-top: 2px solid var(--border-color);
}

.App-content{
  position: relative;
  left: 250px;
  background-color: var(--panel-color);
  height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
}
.top{
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  display: flex;
  align-items: center;
  padding: 10px 14px;
  justify-content: space-between;
  background-color: var(--panel-color);
  border-bottom: 2px solid var(--border-color);
  z-index: 10;
}
.top h1{
  font-family: 'Julee', cursive;
  font-size: 30px;
  cursor: pointer;
}

.top .sidebar-toggle{
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}
.top-right{
  display: flex;
  align-items: center;
}
.top-right i{
  margin-right: 20px;
}
.top-right img{
    width: 32px;
    height: 32px;
}
.outlet{
  width: 100%;
  height: 100%;
}
.charts{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.charts_top{
  width: 100%;
  height: 50%;
  display: flex;
}
.charts_top--title{
  width: 30%;
  height: 100%;
}
.charts_top--title h1{
  font-family: 'Julee', cursive;
  font-size: 40px;
  margin-bottom: 20px;
}
.charts_top--title p{
  font-family: 'Arvo', serif;
  font-size: 16px;
}
.charts_top--card{
  width: 100%;
  height: 100%;
  display: flex;
}


.charts_top--card1{
  border: 1px solid #ADE792;
  width: 150px;
  height: 100%;
  border-radius: 20px;
  margin-left: 70px;
  background-color: #ADE792;
}
.charts_top--card2{
  border: 1px solid #344D67;
  width: 150px;
  height: 100%;
  border-radius: 20px;
  margin-left: 40px;
  background-color: #344D67;
}

.charts_top--cardtop{
  width: 100%;
  height: 30%;
  display: flex;
  color: #fff;
  justify-content: space-around;
  margin-top: 25px;
}
.charts_top--cardbottom{
  width: 100%;
  height: 70%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.charts_top--cardbottom p{
  font-family: 'Julee', cursive;
  font-size: 30px;
  font-weight: 400;
}
.charts_top--cardbottom label{
  font-size: 16px;
  font-weight: none;
}
.charts_top--card3{
  border: 1px solid #C27664;
  width: 150px;
  height: 100%;
  border-radius: 20px;
  margin-left: 40px;
  background-color: #C27664;
}
.charts_top--card4{
  border: 1px solid #F2921D;
  width: 150px;
  height: 100%;
  border-radius: 20px;
  margin-left: 40px;
  background-color: #F2921D;
}
.charts_top--cardyour{
  margin-top: 20px ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.charts_top--cardicon{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  color: #fff;
  margin-top: 25px;
  font-size: 60px;
}
.charts_top--cardyour p,.charts_top--cardyour span{
  font-family: 'Julee', cursive;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}
.charts_bottom{
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 50px;
  gap:20px
}
.charts_bottom--left{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: 5px 5px;
  background-color:#E1EEDD ;
  border-radius: 10px;
}
.charts_bottom--statistical{
  width: 400px;
  height: 300px;
  border: 1px solid #E1EEDD;
  background-color: #E1EEDD;
  border-radius: 10px;
}
.charts_bottom--right{
  width: 70% ;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color:#E1EEDD ;
  border-radius: 10px;

}
.charts_bottom--statisticals{
  width: 600px;
  height: 300px;
  border: 1px solid #E1EEDD;
  background-color: #E1EEDD;
  border-radius: 10px;
  margin-left: 40px;
}
.charts_table{
  margin-top: 50px;
}
.customer{
  width: 100%;
  height: 100%;
}
.customer-top{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
}
.customer-top__title{
  width: 100%;
  height: 50%;
  text-align: center;
}
.customer-top__title h1{
  font-size: 36px;
  font-family: 'RocknRoll One', sans-serif;
  cursor: pointer;
}
.customer-top__title h1:hover{
  color: red;
}
.customer-top__btn{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.customer-top__search {
  display: flex;
  align-items: center;
  width: 70%;
  height: 100%;
}
.customer-top__search input{
  border: #000;
  width: 263px;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}
.customer-top__search i{
  width: 30px;
  height: 30px;
  padding-left: 10px;
  font-size: 28px;
}
.customer-top__btn button{
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'RocknRoll One', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  background: rgb(6,14,131);
  background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
  border: none;
}
.customer-top__btn button:hover{
  background: rgb(0,3,255);
  background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

.customer-bottom{
  width: 100%;
  height: 60%;
  margin-top: 40px;
}
.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: auto;
  margin: auto;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
.table-fill th{
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:16px;
  font-weight: 500;
  padding:15px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.table-fill th:first-child {
  border-top-left-radius:3px;
}
 
.table-fill th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
.table-fill tr{
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
.table-fill tr:hover td{
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
.table-fill tr:first-child{
  border-top:none;
}

.table-fill tr:last-child{
  border-bottom:none;
}
 
.table-fill tr:nth-child(odd) td{
  background:#EBEBEB;
}
 
.table-fill tr:nth-child(odd):hover td{
  background:#4E5066;
}

.table-fill tr:last-child td:first-child{
  border-bottom-left-radius:3px;
}
 
.table-fill tr:last-child td:last-child{
  border-bottom-right-radius:3px;
}
 
.table-fill td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.table-fill td:last-child {
  border-right: 0px;
}

.table-fill th.text-left {
  text-align: center;
}

.table-fill th.text-center {
  text-align: center;
}

.table-fill th.text-right {
  text-align: center;
}

.table-fill td.text-left {
  text-align: center;
}

.table-fill td.text-center {
  text-align: center;
}

.table-fill td.text-right {
  text-align: center;
}
.status{
  background-color: #F9F54B;
}

.customer-top__btntable{
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.customer-top__btntable button{
 border: 2px solid white;
 background-color: rgb(6,14,131);
 color: white;
 padding: 5px 10px;
 font-size: 16px;
 text-align: center;
 font-weight: 500;
 border-radius: 5px;
}
.Delete{
  margin-top: 5px;
}
.customer-top__btntable button:hover{
  background: rgb(0,3,255);
  background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}
.pagination{
  width: 100%;
  height: 100px;
  margin-top: 200px;
  bottom: unset;
}
.ant-pagination{
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination-page{
  width: 100%;
  height: auto;
  margin-top: 220px;
}
.pagination{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.pagination button{
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: #eee;
  border-color: black;
  background-color: #000;
}
.pagination button.active{
  font-weight: 900;
  border-color: #101010;
  background: #ffe400;
  color: #101010;
}