*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
.line {
    width: 100%;
    height: 75vh;
    background-image: url(../../assets/Img/line_1.jpg);
    background-position: center;
    background-size: cover;
}
.content_home {
    display: flex;
    height: 85%;
    align-items: center;
    padding-left: 50px;
    padding-right: 30px;
    box-sizing: border-box;

    .column {
        flex-basis:  50%;
        margin-top: 55px;

        .baby {
            font-size:  110px;
            color: palevioletred;
        }

        .ad {
            font-size: 50px;
            line-height: 45px;
        }

        .shop_now {
            width: 150px;
            color: black;
            font-size: 20px;
            padding: 12px 0px;
            margin-top: 30px;
            background-color: aquamarine;
            border: 1px solid wheat;
            border-radius: 20px;

            &:hover{
               background-color: rgb(194, 112, 125);
            }
        }
    }
}

.card_h {
    width: 190px;
    height: 190px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 15px 15px;
    background-position: center;
    background-size: cover;
    margin-left: 60px;
}
.milk {
    background-image: url(../../assets/Img/sale_milk.png);
}
.food {
    background-image: url(../../assets/Img/sale_food.png);
}
.fashion {
    background-image: url(../../assets/Img/sale_do.png);
}
.ld {
    background-image: url(../../assets/Img/sale_omo.png);
}

#featured-product {
    padding: 40px 80px;
    text-align: center;
}

#featured-product .product-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#featured-product .product {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 4px;
    margin: 15px 0;
    transition: .5s;
    position: relative;
}

#featured-product .product:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

#featured-product .product .product-desc {
    text-align: start;
    padding: 10px 0;
}

#featured-product .product .product-desc span {
    color: #606063;
    font-size: 12px;
}

#featured-product .product .product-desc h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}   

#featured-product .product .product-desc i {
    color: #FED049;
    font-size: 12px;
}

#featured-product .product .product-desc h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#featured-product .product a {
    margin-top: 30px;
    color: black;
    font-size: 15px;
    bottom: 20px;
    right: 10px;
    border-radius: 30px;
}
.rate {
    display: flex;
}